<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176097130446-5vp7a6087dhs3n1or27j5mp7u67570sg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176097130446-5vp7a6087dhs3n1or27j5mp7u67570sg</string>
	<key>API_KEY</key>
	<string>AIzaSyAgy-QMcJ12-NlfD5nDeVENENWIwrBjvww</string>
	<key>GCM_SENDER_ID</key>
	<string>176097130446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fertilizerRecommendationSystem</string>
	<key>PROJECT_ID</key>
	<string>fertilizer-recommendatio-73585</string>
	<key>STORAGE_BUCKET</key>
	<string>fertilizer-recommendatio-73585.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176097130446:ios:324b3568079799c4e8dd9f</string>
</dict>
</plist>